<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VisualBounds.Imaging.PaintBucket.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VisualBounds.Imaging.PaintBucket.Properties.Settings>
            <setting name="ViewStatusBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewStatusBarCursorPosition" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewStatusBarStatus" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewToolBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewToolBarFileFunctions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewToolBarZoom" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewToolBarColor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Background" serializeAs="String">
                <value>201, 211, 226</value>
            </setting>
        </VisualBounds.Imaging.PaintBucket.Properties.Settings>
    </userSettings>
</configuration>